/* The Modal (background) */
.contact-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    opacity: 0; /* Start with modal being transparent */
    animation: fadeIn 0.5s ease-out forwards; /* Apply the fade-in animation when shown */
}

@keyframes fadeIn {
    from { opacity: 0; } /* Start with an invisible state */
    to { opacity: 1; } /* End with a fully visible state */
}



/* Modal Content Block */
.contact-modal__content {
    background-color: #fefefe;
    margin: 15% auto;  /*15% from the top and centered */
    padding-top: 4px;
    border: 3px solid #000;
    width: 597px;
    height: 825px;
}

/* The Close Button */
.contact-modal__content_close {
    color: #C4C4C4;
    float: right;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 2px;
}

.contact-modal__content_close:hover,
.contact-modal__content_close:focus {
    color: #313144;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Body*/
.contact-modal__content_body {
    padding: 2px 26px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
    background-color: violet;

    #wpcf7-f42-o1 {
        background-color: beige;
        margin-top: 10px;
    }
    
    input {
        height: 40px;
        width: 263px;
        border-radius: 8px;
        border: 1px solid #B8BBC2;
       /* margin-top: 0px;
        padding: 8px 15px;*/
        color: #000;
        font-family: "Poppins";
        font-size: 0.875rem;
        font-weight: 500;
    }

    input[type="submit"] {
        height: 50px;
        border-radius: 2px;
        background-color: #D8D8D8;
        border-color: #D8D8D8 ;
        /*display: flex;
        justify-content: center;
        align-content: center;*/
       /* margin-top: -10px;
        margin-bottom: 0px;*/
        font-size: 14px;
        font-family: "Space Mono";
        font-weight: 400;
    }

    textarea {
        height: 210px;
        width: 263px;
        border-radius: 8px;
        border: 1px solid #B8BBC2 ;
    }

    label {
    color : #313144;
    }
}

/*Contact form message */
.wpcf7 form .wpcf7-response-output {
    margin: -0.9em 0.5em 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;;
    font-size: 12px;
    font-family: 'poppins';
    text-align: center;
    max-width: 275px;
}

.wpcf7 form.invalid .wpcf7-response-output {
    border: 2px solid #FE5858;
}

.wpcf7-spinner {
    display:none;
}
