/* The Modal (background) */
.contact-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
    opacity: 0; /* Start with modal being transparent */
    animation: contact-fadeIn 0.5s ease-out forwards; /* Apply the fade-in animation when shown */
}

@keyframes contact-fadeIn {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
}

/* Modal Content Block */
.contact-modal__content {
    background-color: #fefefe;
    margin: 10% auto;  /*10% from the top and centered */
    padding-top: 4px;
    border: 3px solid #000;
    width: 597px;
    height: 825px;
}

/* The Close Button inside modal */
.contact-modal__content_close {
    color: #C4C4C4;
    float: right;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 2px;

    &:hover,
    &:focus {
        color: #313144;
        text-decoration: none;
        cursor: pointer;
    }
}

/* Modal Body Styles */
.contact-modal__content_body {
    padding: 2px 26px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #wpcf7-f42-o1 {
        margin-top: 10px;
    }
    
    input, textarea {
        width: 263px;
        border-radius: 8px;
        border: 1px solid #B8BBC2;
        color: #000;
        font-family: "Poppins";
    }

    input {
        height: 40px;
        font-size: 0.875rem;
        font-weight: 500;
    }

    input[type="submit"] {
        height: 50px;
        border-radius: 2px;
        background-color: #D8D8D8;
        border-color: transparent;
        font-size: 14px;
        font-family: "Space Mono";
        font-weight: 400;
    }

    textarea {
        height: 210px;
    }

    label {
    color : #313144;
    }
}

/*Contact form message styles */
.wpcf7 form .wpcf7-response-output {
    margin: -0.9em 0.5em 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;;
    font-size: 12px;
    font-family: 'poppins';
    text-align: center;
    max-width: 275px;
    
    &.invalid {
        border-color: #FE5858;
    }
}

.wpcf7-spinner {
    display:none;
}

/*** Media Queries - RESPONSIVE ***/

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    
    .contact-modal {
        top: 72px; 
        
        &__content {
            width: 286px;
            height: 750px;
        }

        &__content_body {
            input {
                width: 190px;
            }

            textarea {
                width: 190px;
                height: 149px;
            }
        }

        &__content_header {
            position: relative; 
            width: 100%;
            height: 60px;
        
            img {
            width: 100%; 
            height: 48px; 
            object-fit: fill; 
            position: absolute; 
            bottom: 0;
            left: 0;
            }
        }   
    }    
}