/* FOOTER STYLE*/

.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100vw;
    height: 60px;
    border-top: 1px solid black;

    &__menu {
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 86px;

        ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            list-style: none;
            gap: 86px;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}


@media (max-width: 767px) {
    .site-footer {
        height: 208px; 
        max-width: 767px;
        width: 100vw; 

        &__menu ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
    }
  }