// HERO HEADER
@keyframes hero-fadeIn {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 962px;
    margin: 0 auto; 
    overflow: hidden; 
    animation: hero-fadeIn 200ms forwards;
    background-color: aquamarine; // todo supp


    &__title {
        position: absolute;
    
        h1 {
        color:rgba(255,255,255,0);
        -webkit-text-stroke: 3px white;
        opacity: 0;
        animation: hero-fadeIn 1s forwards;
        }  
    }

    &__image {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; 
        }  
    }
}

// CONTENT
.site-main {
    max-width: 1440px;
}

.filter-section {
    background-color: purple;
    display:flex;
    justify-content: space-between;
    padding: 0 90px;
    margin: 55px auto 20px auto; 

    &__photo-select {
        background-color: yellow;
    }

    &__date-sort {
        background-color: yellowgreen;
    }
}

// FILTER
.filter-section {
    width: 80%;

        #photo-category-select, #photo-format-select, #filter-section_date-sort {
            width: 260px;
            height: 42px;
            border-radius: 8px;
            border: 1px solid #B8BBC2;
            background: #FFF;
            font-family: Poppins;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.36px;

        }
}

// PHOTO LIST CONTAINER
.photos-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto 0 auto;   
    background-color: cadetblue;
    gap: 20px;

    .photo-block {
        width: 564px;
        height: 495px;
   
    }
}


// LOAD MORE BUTTON
.loadmore-photo-button {
    display: flex;
    justify-content: center;
    background-color: green ; // todo supp
}

#loadmore-btn {
    width: 272px;
    height: 50px;
    padding: 8px 15px;
    margin: 50px 0;
    border: none;
    font-family: 'Space Mono';
    font-size: 0.75rem;
    font-weight: 400;
    color: #000;
    background-color: #D8D8D8;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    transition: transform 0.35s ease, background-color 0.35s ease;   

    &:hover {
        color: white;
        font-weight: 700;
        background-color: #000;
        transform: scale(1.1);
    }  
}

/*** Media Queries - RESPONSIVE ***/
    /* Mobile Styles */
@media (max-width: 767px) { 
    .hero-header {
        max-width: 767px;
    }

    // FILTER
    .filter-section, .filter-section__photo-select {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

  /* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .hero-header {
        max-width: 991px;
    }
}