.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto; // Center header
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
    background-color: yellowgreen;

    &__logo {
        padding-left: 146px;

        img {
            width: 216px;
            height: 14px;
        }
    }

    &__menu-burger {
        display: none;
        flex-direction: column;
        gap: 5px;
        width: 28px;
        height: 19px;
        background: none;
        border: none;
        position: relative;
        cursor: pointer;

        span {
            display: block;
            height: 2px;
            width: 100%;
            background: #000;
            transition: all 0.3s ease-in-out;
         
        }
    }

    &__menu-navigation {
        
        padding-right: 146px;

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            
            li {
                margin: 0 18px;
            }

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }



}

/*** Media Queries - RESPONSIVE ***/
    /* Mobile Styles */
@media (max-width: 767px) {
    .site-header {
    
        &__menu-burger {
            display: flex;
        
            &.active {
                span {
                    &:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }
      
                    &:nth-child(2) {
                        opacity: 0;
                    }
      
                    &:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }
        
        }

        &__menu-navigation {
            display: none;
        } 

        &__menu-navigation.active {
            display: block;

            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }    
}    