.photo-block {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 495px;
    width: 100%;

    &__picture {
        width: 100%;
        height: 495px;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    &:hover &__picture {
        transform: scale(1.05);
    }

    .photo-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        .photo-details { 
            width: 46px;
            height: 30px;
        }

        .photo-fullscreen {
            position: absolute;
            top: 11px;
            right: 18px;
            width: 34px;
            height: 34px;
            cursor: pointer;

            &:hover {
                opacity: .5;
            }
        }
    }

    &:hover .photo-overlay {
        opacity: 1;
        visibility: visible;
    }

    .photo-overlay__info {
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #FFF;
        font-family: 'Poppins';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
    }

    &:hover .photo-overlay__info {
        opacity: 1;
        visibility: visible;
    }

    .photo-overlay__reference,
    .photo-overlay__category {
        position: absolute;
    }

    .photo-overlay__reference {
        bottom: 12px;
        left: 17px;
    }

    .photo-overlay__category {
        bottom: 12px;
        right: 23px;
    }

}

/*** Media Queries - RESPONSIVE ***/
    /* Mobile Styles */
@media only screen and (max-width: 767px) { 
    .photo-block {
        .photo-overlay {
            .photo-fullscreen {
                visibility: hidden;
            }
        }
    }
}
