@import 'footer';
@import 'header';
@import 'fonts';
@import 'contact-modal';
@import 'single-photo';

/* BODY STYLE */
body {
    background-color: aqua;
    color: #000;
    max-width: 1440px;
}

    /* Typography*/
h1, h2, h3, .site-footer, .site-header, .site-footer p {
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
}

h1, h2 {
    font-style: italic;
}

h2, h3, .site-footer, .site-header, .site-footer p {
    font-weight: 400;
}

h3, p, .site-footer, .site-header, .site-footer p {
    font-style: normal;
}

h1{
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-size: 4.125rem; 
}

h3{
    font-size: 1.125rem;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;   
    font-weight: 300;
}

.site-footer, .site-header, .site-footer p {
    font-size: 1rem;   
}