@charset "UTF-8";
/* FOOTER STYLE*/
.site-footer {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  height: 60px;
}

.site-footer__menu {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 86px;
}
.site-footer__menu ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 86px;
}
.site-footer__menu a {
  text-decoration: none;
  color: #000;
}

/* TODO 
Class non utilisée 
.site-footer__menu
.site-header__menu
*/
.site-header {
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 45px;
}
.site-header a {
  text-decoration: none;
  color: #000;
}

/* TODO 
Class non utilisée 
.site-header__logo 

*/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-LightNomDeLaPolice.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-LightNomDeLaPolice.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/space-mono/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/space-mono/SpaceMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/space-mono/SpaceMono-BoldItalic.woff2") format("woff2"), url("../fonts/space-mono/SpaceMono-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/space-mono/SpaceMono-Italic.woff2") format("woff2"), url("../fonts/space-mono/SpaceMono-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/space-mono/SpaceMono-Regular.woff2") format("woff2"), url("../fonts/space-mono/SpaceMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* The Modal (background) */
.contact-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0);  Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  opacity: 0; /* Start with modal being transparent */
  animation: fadeIn 0.5s ease-out forwards; /* Apply the fade-in animation when shown */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } /* Start with an invisible state */
  to {
    opacity: 1;
  } /* End with a fully visible state */
}
/* Modal Content Block */
.contact-modal__content {
  background-color: #fefefe;
  margin: 15% auto; /*15% from the top and centered */
  padding-top: 4px;
  border: 3px solid #000;
  width: 597px;
  height: 825px;
}

/* The Close Button */
.contact-modal__content_close {
  color: #C4C4C4;
  float: right;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 2px;
}

.contact-modal__content_close:hover,
.contact-modal__content_close:focus {
  color: #313144;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Body*/
.contact-modal__content_body {
  padding: 2px 26px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*width: 100%;*/
  background-color: violet;
}
.contact-modal__content_body #wpcf7-f42-o1 {
  background-color: beige;
  margin-top: 10px;
}
.contact-modal__content_body input {
  height: 40px;
  width: 263px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  /* margin-top: 0px;
   padding: 8px 15px;*/
  color: #000;
  font-family: "Poppins";
  font-size: 0.875rem;
  font-weight: 500;
}
.contact-modal__content_body input[type=submit] {
  height: 50px;
  border-radius: 2px;
  background-color: #D8D8D8;
  border-color: #D8D8D8;
  /*display: flex;
  justify-content: center;
  align-content: center;*/
  /* margin-top: -10px;
   margin-bottom: 0px;*/
  font-size: 14px;
  font-family: "Space Mono";
  font-weight: 400;
}
.contact-modal__content_body textarea {
  height: 210px;
  width: 263px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}
.contact-modal__content_body label {
  color: #313144;
}

/*Contact form message */
.wpcf7 form .wpcf7-response-output {
  margin: -0.9em 0.5em 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 12px;
  font-family: "poppins";
  text-align: center;
  max-width: 275px;
}

.wpcf7 form.invalid .wpcf7-response-output {
  border: 2px solid #FE5858;
}

.wpcf7-spinner {
  display: none;
}

.single-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: red;
}

.single-photo-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 80%;
  margin-top: 2%;
  background-color: coral;
}

.single-photo-info_content {
  border-bottom: solid 1px black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 1%;
  padding-right: 12%;
  padding-bottom: 2%;
}
.single-photo-info_content p, .single-photo-info_content h2 {
  text-transform: uppercase;
  line-height: 8px;
}
.single-photo-info_content h2 {
  max-width: 99%;
  line-height: 75px;
  margin: 10px 0 10px 0;
}
.single-photo-info_content a {
  text-decoration: none;
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.single-photo-info__image {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  opacity: 0;
  animation: fadeIn 600ms forwards;
}
.single-photo-info__image img {
  height: 100vh;
  object-fit: cover;
}

/* TODO à voir
.single-photo__image-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;

    img {
        width: 105%;
        height: auto;
        object-fit: contain;
    }

}
*/
.single-photo-interaction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 188px;
  border-bottom: solid 1px black;
  background-color: yellow;
}
.single-photo-interaction .single-photo-interaction__contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-right: 2%;
}
.single-photo-interaction .single-photo-interaction__contact button {
  background-color: #D8D8D8;
  border-radius: 2px;
  width: 272px;
  height: 50px;
  padding: 8px 15px;
  border: none;
  font-family: "Space Mono";
  font-size: 0.75rem;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  transition: all ease-in-out 300ms;
}
.single-photo-interaction .single-photo-interaction__contact button:hover {
  font-weight: 700;
  background-color: black;
  transform: scale(0.98);
  color: white;
}
.single-photo-interaction .single-photo-interaction__navigation {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 170px;
  align-items: flex-end;
}
.single-photo-interaction .single-photo-interaction__navigation .navigation-card {
  display: flex;
  flex-direction: column;
}
.single-photo-interaction .single-photo-interaction__navigation .navigation-card-left, .single-photo-interaction .single-photo-interaction__navigation .navigation-card-right {
  display: none;
}
.single-photo-interaction .single-photo-interaction__navigation .navigation-card-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin-top: 3px;
  position: relative;
  z-index: 0;
}
.single-photo-interaction .single-photo-interaction__navigation .arrow-left {
  transition: all ease-in-out 300ms;
}
.single-photo-interaction .single-photo-interaction__navigation .arrow-left:hover {
  transform: scaleX(1.2) scaleY(1);
}
.single-photo-interaction .single-photo-interaction__navigation .arrow-right {
  transition: all ease-in-out 300ms;
}
.single-photo-interaction .single-photo-interaction__navigation .arrow-right:hover {
  transform: scaleX(1.2) scaleY(1);
}

.aussi {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 80vw;
  margin-top: 1%;
}
.aussi h3 {
  text-align: left;
  text-transform: uppercase;
  margin: 3% 0%;
}

.photo-catalogue-single {
  display: flex;
  flex-direction: column;
}

.photo-block-photo-single {
  width: 100%;
}

/*  TODO Related Photo section */
.related-photos-section {
  background-color: blueviolet;
}
.related-photos-section h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.related-photos-section .related-photos {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: grey;
}
.related-photos-section .related-photos .photo-block {
  position: relative;
  overflow: hidden;
}
.related-photos-section .related-photos .photo-block img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.related-photos-section .related-photos .photo-block img:hover {
  transform: scale(1.1);
}
.related-photos-section .related-photos .photo-block .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.related-photos-section .related-photos .photo-block .photo-overlay:hover {
  opacity: 1;
  visibility: visible;
}
.related-photos-section .related-photos .photo-block .photo-overlay a {
  margin: 0 10px;
}

.photo-block img {
  transition: transform 0.3s ease;
}
.photo-block img:hover {
  transform: scale(1.05);
}
.photo-block .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.photo-block .photo-overlay:hover {
  opacity: 1;
  visibility: visible;
}
.photo-block .photo-overlay a {
  margin: 0 10px;
}

/* BODY STYLE */
body {
  background-color: aqua;
  color: #000;
  max-width: 1440px;
}

/* Typography*/
h1, h2, h3, .site-footer, .site-header, .site-footer p {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
}

h1, h2 {
  font-style: italic;
}

h2, h3, .site-footer, .site-header, .site-footer p {
  font-weight: 400;
}

h3, p, .site-footer, .site-header, .site-footer p {
  font-style: normal;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 4.125rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
}

.site-footer, .site-header, .site-footer p {
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
